<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="{{ site.baseurl }}/assets/img/slider/dogsPainting.jpg" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Shop our Store!</h3>
                                <p class="carousel-body">Curated selection of pet products by Rachel Pierce!</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="{{ site.baseurl }}/assets//img/slider/store_FromBack.jpg" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Meet our Family</h3>
                                <p class="carousel-body">It takes a village to raise a family, and it takes a family to run a store!</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="{{ site.baseurl }}/assets//img/slider/store_FromFront.jpg" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Check Out Our Product Reviews</h3>
                                <p class="carousel-body">In depth reviews of products by our team of expert (pets)!</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Pierce's Paw Paradise</h3>
                    <p class="services-header-body"><em> More than just a pet supply store!</em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa-solid fa-dog fa-4x"></span></p>
                        <h4 class="services-title">Dog Products</h4>
                        <p class="services-body">Everything you need to keep your puppy or adult dog happy!</p>
                        <p class="services-more"><a href="#">Shop Now!</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa-solid fa-cat fa-4x"></i></p>
                        <h4 class="services-title">Cat Products</h4>
                        <p class="services-body">Something your cat will love, or something that will annoy your cat?  We have both!</p>
                        <p class="services-more"><a href="#">Shop Now!</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa-solid fa-people-group fa-4x"></i></p>
                        <h4 class="services-title">People Products</h4>
                        <p class="services-body">Why should the pets have all the fun?  We have plenty for the humans too!</p>
                        <p class="services-more"><a href="#">Shop Now!</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa-solid fa-blog fa-4x"></span></p>
                        <h4 class="services-title">Blog</h4>
                        <p class="services-body">What is on Sprocket's mind?  How is Wesley adjusting?  Is Princess really a princess?</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa-solid fa-check-double fa-4x"></i></p>
                        <h4 class="services-title">Pet Picks!</h4>
                        <p class="services-body">Honest reviews by our team of expert pets:  Sprocket, Wesley, Princess, and Danny!</p>
                        <p class="services-more"><a href="http://127.0.0.1:4000/pierces-paw-paradise/store.html#!/Sprockets-Picks/c/179076256">Shop Now!</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa-solid fa-pen-nib fa-4x"></i></p>
                        <h4 class="services-title">Reviews!</h4>
                        <p class="services-body">Dont take our word for it, check out what people are saying about Pierce's Paw Paradise.</p>
                        <p class="services-more"><a href="https://www.google.com/search?sca_esv=263d6f8b3f719809&si=AMgyJEtREmoPL4P1I5IDCfuA8gybfVI2d5Uj7QMwYCZHKDZ-EyxObQ1CQRqwA2NLeIp6ZPkS2hbvi7S1952JLCQHGkR9DAaIpZHcB54dJg_n-tpigOr0fZ8gGlLFsDWEzFByPVi_YqpREgVIQCJcO7ZrMCzi9O5IwA%3D%3D&q=Pierce%27s+Paw+Paradise+Reviews&sa=X&ved=2ahUKEwiOydOgiqaPAxVzVTABHe0bDIUQ0bkNegQIJRAE&biw=1414&bih=1276&dpr=1" target="_blank">Find Out More</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
